<!DOCTYPE html>
<html>
    <head>
       <title>Counter</title>

    <!-- <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/114E371C-B73B-484A-9650-6EBA25116657/main.js" charset="UTF-8"></script> -->
    </head>
    <body>
      <h1>Counter</h1>

      <form action="/counter" method="post">
        <button>+ 2 COUNTER</button>
      </form>

      <form action="/reset" method="post">
        <button>Reset</button>
      </form>

      <p> {{ counter }} times </p>

      </form>

    </body>
</html>
