<html>
<head>
	<title>Disapearing Ninja</title>
</head>
<body>
	{% if displayAll == True %}
		<img src="{{ url_for('static', filename='tmnt.png') }}">
	{% endif %}

	{% if displayAll == False %}
		{% if color == 'blue' %}
			<img src="{{ url_for('static', filename='leonardo.jpg') }}">

		{% elif color == 'purple' %}
			<img src="{{ url_for('static', filename='donatello.jpg') }}">

		{% elif color == 'orange' %}
			<img src="{{ url_for('static', filename='michelangelo.jpg') }}">

		{% elif color == 'red' %}
			<img src="{{ url_for('static', filename='raphael.jpg') }}">

		{% else %}
			<img src="{{ url_for('static', filename='notapril.jpg') }}">
		{% endif %}
	{% endif %}
</body>
</html>
